:root {
    --header-title-color: #ffffff;
    --primary-title-color: #212121;    
    --accent-color: #2196F3;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --logo-black-color: #000000;
    --logo-white-color: #ffffff;
    --primary-icon-color: #afb1b8;
    --gray-bg: #f5f4fa;

    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: #ffffff;
    color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    outline:  1px solid red;
    
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    display: block;
}

.section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--primary-title-color);
        margin-bottom: 50px;
}

.main-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    display: block;
    margin: 0 auto;
    cursor: pointer;

    padding: 10px 32px;
    border: none;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

/* --- HEADER --- */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
}

.header-contacts-list {
    display: flex;
    margin-left: auto;
}

.header-logo {
    color: var(--logo-black-color);
    margin-top: 25px;
    margin-right: 93px;
    margin-bottom: 25px;
}

.header-logo-accent {
    color: var(--accent-color);
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts-item:not(:last-child) {
    margin-right: 50px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);

    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

    transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color)
}

.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    bottom: 0;
}

.header-contacts-link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--accent-color);
}

.header-contact-icon {
    margin-right: 10px;
    fill: currentColor;
}


/* --- HERO --- */

.hero {
background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
background-color: #c4c4c4;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

max-width: 1600px;
margin: 0 auto;
}

.hero-container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--header-title-color);

    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* --- PRINCIPLES --- */

.principles-container {
    padding-top: 94px;
    /* padding-bottom: 94px; */
}

.principles-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.principles-item {
    flex-basis: calc(100%/4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.principles-item-bg {
    width: 270px;
    height: 120px;
    background: var(--gray-bg);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principles-item-icon {
    /* margin-left: auto;
    margin-right: auto; */

}

.principles-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--primary-title-color);

        margin-bottom: 10px;
}

.principles-text {
    font-size: 14px;
    line-height: 1.71;
}

/* --- ABOUT --- */

.about-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.about-item {
    flex-basis: calc(100%/3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
}

.about-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--primary-white-color);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- TEAM --- */

.team{
    background-color: var(--gray-bg);
}


.team-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primary-title-color);
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.team-social-list{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.team-social-item {
    width: 44px;
    height: 44px;

}

.team-social-link {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.team-social-link:hover, 
.team-social-link:focus {
    background-color: var(--accent-color);
}

.team-social-item + .team-social-item {
    margin-left: 10px;
}

.team-social-icon {
    fill: var(--primary-icon-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.team-social-item:hover .team-social-icon,
.team-social-item:hover .team-social-icon {
    fill: var(--primary-white-color);
}

/* --- CLIENTS --- */

.clients-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.clients-item {
    width: 170px;
    height: 92px;

    flex-basis: calc(100% / 6 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.clients-link {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-color: var(--primary-icon-color);
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.clients-link-item {
    fill: var(--primary-icon-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}

.clients-link:hover .clients-link-item, 
.clients-link:focus .clients-link-item {
    fill: var(--accent-color);
}

/* --- FOOTER --- */

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.footer {
    background-color:#2F303A;
}

.footer-logo {
    color: var(--logo-white-color);
    margin-bottom: 20px;
}

.footer-logo-accent {
    color: var(--accent-color);
}

.footer-link {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.footer-address {
    color: var(--primary-white-color);
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-left {
    width: 230px;
    margin-right: 70px;
}

.footer-right {
    margin-top: 12px;
}

.footer-title {
    text-transform: uppercase;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--primary-white-color);

    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
}

.footer-social-item {
    width: 44px;
    height: 44px;
}

.footer-social-link {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
}

.footer-social-item + .footer-social-item {
    margin-left: 10px;
}

.footer-social-icon {
    fill: var(--primary-white-color);
}

.footer-subscription {
    margin-top: 12px;
    margin-left: auto;
}


.footer-form {
    display: flex;
    align-items: center;
}

.footer-input {
    margin-right: 12px;
    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    width: 358px;
    height: 50px;

    padding: 15px 16px;
    outline: none;

    color: var(--primary-white-color);
}


.footer-btn {
    padding: 10px 28px;
    display: flex;
    align-items: center;
}

.footer-btn-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}


/* --- PORTFOLIO --- */

.portfolio-container {
    padding-top: 94px;
    padding-bottom: 94px;
} 

.radiobuttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.radiobuttons-item:not(:last-child){
    margin-right: 8px;
}

.button {
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    color: var(--primary-title-color);
    background-color: #F5F4FA;

    cursor: pointer;

    padding: 6px 22px;
    border-radius: 4px;
    border: none;

    transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
} 

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.portfolio-card {
    flex-basis: calc(100%/3 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}

.portfolio-card-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-wrapper-text {
    position: absolute;
    top: 0;
    padding: 63px 24px;
    background-color: var(--accent-color);

    font-size: 18px;
    line-height: calc(28 / 18);
    color: var(--primary-white-color);

    transform: translateY(100%);

    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.portfolio-card:hover .portfolio-wrapper-text {
    transform: translateY(0);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
    margin-bottom: 4px;
}

.portfolio-subtitle {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

.portfolio-card-content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE; 
}

/* --- MODAL --- */

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity var(--transition-duration) var(--transition-timing-function),
                visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scale(1.2) rotate(-5deg) translate(-75px);
}

.modal {
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--primary-white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    position: relative;

    transform: scale(1) rotate(0) translate(0);
    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn-icon {
    fill: var(--logo-black-color)
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    color: var(--primary-title-color);

    margin-bottom: 12px;
}

.modal-form {
}

.modal-field {
    margin-bottom: 20px;
}

.modal-label {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    display: block;
}

.modal-label + .modal-label {
    margin-top: 10px;
}

.input-wrapper {
    position: relative;
}

.modal-input {
    width: 100%;
    margin-top: 4px;
    padding: 11px 42px;
    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.input-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 0;
}

.modal-text {
    padding: 12px 16px;
    height: 120px; 
    resize: none;
}

.modal-text::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.check-text {
    font-size: 14px;
    line-height: calc(24 / 14);

    margin-left: 14px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;


}

.check-ref {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--accent-color);
}





.checked-box {
    width: 16px;
    height: 15px;

    border: 2px solid #000000;

    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon {
    width: 11px;
    height: 8px;
}


.modal-checkbox:checked + .checked-box {
    background-color: var(--accent-color);
    border: none;
}

.modal-btn {
    padding: 10px 52px;
}