.header {
    border-bottom: 1px solid #ECECEC;

    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-top: 25px;
        margin-right: 93px;
        margin-bottom: 25px;
    }
}

.navigation {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        @include font(500, 14px, 16px, 0.02em);
        color: var(--primary-title-color);
        padding-top: 32px;
        padding-bottom: 32px;
        position: relative;
        transition: color var(--transition-duration) var(--transition-timing-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &--current {
            color: var(--accent-color);

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background-color: var(--accent-color);
                display: block;
                bottom: 0;
            }
        }
    }
}

.contacts {
    display: flex;
    margin-left: auto;

    &__item:not(:last-child) {
            margin-right: 50px;
        }
    
    &__link {
        display: flex;
        align-items: center;

        @include font(500, 14px, 16px, 0.02em);
        color: inherit;
        padding-top: 32px;
        padding-bottom: 32px;

        transition: color var(--transition-duration) var(--transition-timing-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    
    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}