.team {
    background-color: var(--gray-bg);

    &__container {
        padding-top: 60px;
        padding-bottom: 60px;

        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
    }
}


.team-list {
        @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }

    &__item {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 30px);
            margin-top: 30px;
            margin-left: 30px;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: calc(100% / 4 - 30px);
        }
    }

    &__item + &__item {
        margin-top: 30px;
    }

    &__title {
        @include font(500, 16px, 19px, 0.03em);
        text-align: center;
        color: var(--primary-title-color);
        margin-top: 30px;
        margin-bottom: 10px;
    }

    &__text {
        @include font(400, 16px, 19px, 0.03em);
        margin-bottom: 16px;
    }

    &__socials {
        margin-bottom: 24px;
        @media screen and (min-width: 1200px) {
            margin-bottom: 30px;
        }
    }
}