.logo {
    font-family: 'Raleway', sans-serif;
    @include font(700, 26px, 31px, 0.03em);
    display: block;

    &--accent {
        color: var(--accent-color);
    }

    &--dark {
        color: var(--logo-black-color);
    }

    &--light {
        color: var(--logo-white-color);
    }
}