:root {
  --header-title-color: #ffffff;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --logo-black-color: #000000;
  --logo-white-color: #ffffff;
  --primary-icon-color: #afb1b8;
  --gray-bg: #f5f4fa;
}
